.searchBar{
    display: flex;
    width: auto;
    height: 100%;
    flex-grow: 1;
    position: relative;
    align-items: center;
}

.search-body{
    width: 100%;
    position: relative;
}

.search-input{
    border: 2px solid #707074;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 400;
    height: 2em;
    padding: 0 1em 0 2.5em;
    width: 100%;
    font-family: inherit;
}