.header-buttons{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    list-style: none;
}

.btn#signup, .btn#signin{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 12px 16px 10px 12px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background-color: var(--LV-primary-blue);
    font-family: inherit;
    min-width: 90px;
    cursor: pointer;
    color: var(--LV-primary-yellow);
    font-size: 1em;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.btn#signin:hover, .btn#signup:hover {
    background-color: #527977;
} 