.header-buttons{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    list-style: none;
}

.btn#signup, .btn#signin{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 12px 16px 10px 12px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid;
    background-color: #5a5a5a;
    font-family: inherit;
    min-width: 90px;
    cursor: pointer;
    color: #d8d8d8;
    font-size: 1em;
    justify-content: center;
}

.btn#signin:hover, .btn#signup:hover {
    background-color: #96969a;
} 